# Core server framework
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==23.0.0

# Machine Learning and Data
scikit-learn==1.5.2
pandas==2.2.3
numpy==2.1.2
joblib==1.4.2

# API and Security
requests==2.32.3
Werkzeug==3.1.3
python-dotenv==1.0.1

# Optional: Use if you plan to test or deploy on Google Cloud Run
#google-cloud-storage==2.18.2
#google-auth==2.35.0
